<div class="drawer" id="drawer" role="dialog" aria-modal="true" aria-label="Menu" aria-hidden="true">
  <div class="drawer-inner">
    <ul class="drawer-links">
      <li><a href="/projects"{{#if active=projects}} class="active" aria-current="page"{{/if}}>Portfolio</a></li>
      <li><a href="/about-us"{{#if active=about-us}} class="active" aria-current="page"{{/if}}>About</a></li>
      <li><a href="/services"{{#if active=services}} class="active" aria-current="page"{{/if}}>Services</a></li>
      <li><a href="/contact"{{#if active=contact}} class="active" aria-current="page"{{/if}}>Contact</a></li>
    </ul>
    <div class="drawer-foot">
      <span class="e">Draw Clever</span>
      <p class="l">Romania &middot; Spain<br /><a href="mailto:hello@drawclever.com">hello@drawclever.com</a></p>
      <ul class="drawer-social"><li><a href="https://www.instagram.com/drawclever.design/">Instagram</a></li><li><a href="https://pinterest.com/drawclever/">Pinterest</a></li><li><a href="https://x.com/DrawClever">X</a></li></ul>
    </div>
  </div>
</div>
